body{
  font-family: Helvetica;
  }

ul{
  font-size: 18px;
  color: white;
  list-style-type: none;
}

a{
  color: white;
}

h1{
color: white;
}

nav{
  background-image: url("../images/building.png");
  color: white;
  text-align: center;
}
