body{
  font-family: Helvetica;
  }

ul{
  font-size: 18px;
  color: white;
  list-style-type: none;
}

a{
  color: white;
}

h1{
color: white;
font-size: 70px;
font-weight: bold;
}

nav{
  background-image: url("../images/building.png");
  color: white;
  text-align: center;
}
.process{
  color: black;
  background-color; white;
  text-align: center;
}

h2{
  font-size: 32px;
  font-weight: bold;
}
.process p{
  font-size: 14px;
}

h3{
  font-size: 23px
}

.image{
  background-image: url("../images/building.png");
  color: white;
  text-align: center;
  text-weight: bold;
  font-size: 23px;
}

.white{
  color: black;
  background-color: white;
  text-align: center;
}
